<!-- login.component.html -->

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card mt-5">
				<div class="card-header">
					<h4 class="text-center">Login</h4>
				</div>
				<div class="card-body">
					<form>
						<text-input [formGroup]="form" [label]="'Email'" [name]="'email'"></text-input>
						<text-input [formGroup]="form" [label]="'Password'" [name]="'password'"
							[isPassword]="true"></text-input>
						<button type="submit" mat-flat-button color="primary" class="btn-block mt-2"
							(click)="login()">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>