<div appFadeIn class="full-screen-viewer">
	<button (click)="closeViewer()" mat-fab color="primary"><mat-icon>close</mat-icon></button>

	<div #container class="content container h-100 overflow-auto">
		@for(exercise of allExercises; let i = $index; track exercise.id) {
			@if(selectedExerciseIndex === i) {
				<div class="card">
					<div class="card-header bg-primary text-light">
						<h5>{{ weekName }}</h5>
						<h4>{{ exercise.category }}</h4>
					</div>
					<div class="card-body mb-5 full-view-body">
						<text-input [disabled]="true" [name]="'name'" [formGroup]="exerciseForm" [label]="'Name'"></text-input>
						<text-input [disabled]="true" [name]="'warmUpSets'" [formGroup]="exerciseForm" [label]="'Warm Up Sets'"></text-input>
						<text-input [disabled]="true" [name]="'workingSets'" [formGroup]="exerciseForm" [label]="'Working Sets'"></text-input>
						<text-input [disabled]="true" [name]="'reps'" [formGroup]="exerciseForm" [label]="'Reps'"></text-input>
						<text-input [name]="'load'" [formGroup]="exerciseForm" [label]="'Load'"></text-input>
						<text-input [disabled]="true" [name]="'previousLoad'" [formGroup]="exerciseForm" [label]="'Previous Load'"></text-input>
						<text-input [disabled]="true" [name]="'rpe'" [formGroup]="exerciseForm" [label]="'RPE'"></text-input>
						<text-input [disabled]="true" [name]="'rest'" [formGroup]="exerciseForm" [label]="'Rest'"></text-input>
						<text-input [disabled]="true" [name]="'substitutionOne'" [formGroup]="exerciseForm" [label]="'Substitution One'"></text-input>
						<text-input [disabled]="true" [name]="'substitutionTwo'" [formGroup]="exerciseForm" [label]="'Substitution Two'"></text-input>
						<text-area [name]="'notes'" [formGroup]="exerciseForm" [label]="'Notes'"></text-area>
					</div>
				</div>
			}
		}
	</div>

	<div class="d-flex justify-content-between w-100 px-3 pb-3 viewer-buttons shadow-lg">
		<button mat-flat-button color="primary" [disabled]="selectedExerciseIndex === 0" (click)="previous(container)" class="flex-grow-1 me-2">Previous</button>
		<button mat-flat-button color="primary" [disabled]="selectedExerciseIndex === allExercises!.length - 1" (click)="next(container)" class="flex-grow-1 ms-2">Next</button>
	</div>
</div>