<div appFadeIn *ngIf="!fullViewer" class="card my-2 shadow-none">
	<div class="card-header bg-primary text-light d-flex justify-content-between align-items-center">
		<h4 class="mb-0">
			{{ week?.name }}
			{{ week?.description }}
		</h4>
		<div>
			<button mat-flat-button class="d-none d-md-inline-block" color="basic" (click)="enableReordering()">{{ reorderingEnabled ? 'Disable Reordering' : 'Enable Reordering' }}</button>
			<button mat-flat-button color="basic" routerLink="week/{{week?.id}}/{{phaseId}}/exercise-add" class="ms-2 text-center">
				<span class="d-none d-md-inline">Add exercise</span>
				<mat-icon class="d-inline d-md-none m-0" fontIcon="add"></mat-icon>
			</button>
			<button mat-flat-button color="warn" matTooltip="Delete week" class="ms-2 text-center" (click)="deleteWeek()">
				<mat-icon fontIcon="delete" class="m-0"></mat-icon>
			</button>
		</div>
	</div>
	<div class="card-body overflow-auto">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th *ngIf="reorderingEnabled" scope="col" [width]="100"></th>
					<th scope="col" [width]="100"></th>
					<th scope="col" [width]="300">Name</th>
					<th scope="col" [width]="100">Warm Up Sets</th>
					<th scope="col" [width]="100">Working Sets</th>
					<th scope="col" [width]="100">Reps</th>
					<th scope="col" [width]="100">Load</th>
					<th scope="col" [width]="100">Previous Load</th>
					<th scope="col" [width]="100">RPE</th>
					<th scope="col" [width]="100">Rest</th>
					<th scope="col" [width]="100">Substitution One</th>
					<th scope="col" [width]="100">Substitution Two</th>
					<th scope="col" [width]="500">Notes</th>
					<th scope="col" [width]="100"></th>
					<th scope="col" [width]="100"></th>
				</tr>
			</thead>
			<tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!reorderingEnabled">
				<tr cdkDrag class="table-row example-box" *ngFor="let exercise of week?.exercises; let i = index">
					<td *ngIf="reorderingEnabled" cdkDragHandle>
						<svg width="24px" fill="currentColor" viewBox="0 0 24 24">
							<path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
							<path d="M0 0h24v24H0z" fill="none"></path>
						  </svg>
					</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.category }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.name }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.warmUpSets }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.workingSets }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.reps }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.load }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.previousLoad }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.rpe }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.rest }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.substitutionOne }}</td>
					<td (click)="openViewer(exercise.id!)">{{ exercise.substitutionTwo }}</td>
					<td (click)="openViewer(exercise.id!)" class="table-note">{{ exercise.notes }}</td>
					<td class="text-center"><button mat-icon-button color="primary" class="action-button" routerLink="week/{{week?.id}}/{{phaseId}}/exercise-edit/{{exercise.id}}"><mat-icon fontIcon="edit"></mat-icon></button></td>
					<td class="text-center"><button mat-icon-button color="warn" class="action-button" (click)="deleteExercise(exercise.id!)"><mat-icon fontIcon="delete"></mat-icon></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>