<h2>{{ workout?.name }}
	<a routerLink="phase-add" class="btn btn-primary ms-2">Add Phase</a>
  </h2>
<div class="row">
	<div class="col-12">
		<ul class="nav nav-tabs">
			<li class="nav-item" *ngFor="let phase of workout?.phases; let i = index">
				<div class="nav-link" [ngClass]="selectedTabIndex === i ? 'active' : ''" data-bs-toggle="tab" (click)="selectTab(i)" role="tab">
					{{phase.name}}
					<button class="btn btn-sm btn-outline-secondary ms-2" routerLink="phase-edit/{{phase.id}}">Edit</button>
					<button class="btn btn-sm btn-outline-danger ms-2" (click)="deletePhase(phase.id!)">Delete</button>
				</div>
			</li>
		</ul>
		<div class="tab-content">
			<div *ngFor="let phase of workout?.phases; let i = index">
				<div *ngIf="selectedTabIndex === i">
					<app-week *ngFor="let week of phase.weeks" [week]="week" [phaseId]="phase.id"></app-week>
				</div>
			</div>
		</div>
	</div>
</div>