<ng-container *ngIf="!isLoading; else loader">
	<h2 appFadeIn>{{ workout?.name }}
		<a routerLink="phase-add" mat-flat-button color="primary" class="ms-2">Add Phase</a>
	</h2>

	<mat-tab-group appFadeIn dynamicHeight [selectedIndex]="selectedTabIndex" (selectedTabChange)="selectTab($event.index)">
		@for(phase of workout?.phases; track phase.id; let i = $index) {
			<mat-tab>
				<ng-template mat-tab-label>				
					{{phase.name}}
				</ng-template>
				<div class="bg-secondary d-flex justify-content-center mt-2 text-light py-1 px-2 text-center">
					{{ phase.description }}
				</div>
				<mat-accordion>
					<app-week *ngFor="let week of phase.weeks" 
							[week]="week" 
							[phaseId]="phase.id" 
							[workoutId]="workout?.id" 
							(onDeleteWeek)="onDeleteWeek($event)"
							(openViewer)="openViewer(phase.id!, $event)"></app-week>
				</mat-accordion>
				<div class="d-flex justify-content-center w-100 mb-4 mt-3">					
					<button mat-fab color="primary" matTooltip="Add new week" (click)="addWeek()"><mat-icon fontIcon="add"></mat-icon></button>					
				</div>
				<hr>
				<div class="d-flex justify-content-center">
					<button mat-stroked-button color="basic" class="btn-sm ms-2" routerLink="phase-edit/{{phase.id}}">Edit <mat-icon fontIcon="edit"></mat-icon></button>
					<button mat-stroked-button color="warn" class="btn-sm ms-2" (click)="deletePhase(phase.id!)">Delete Phase<mat-icon fontIcon="delete"></mat-icon></button>
				</div>
			</mat-tab>
		}
	  </mat-tab-group>
</ng-container>

<app-exercise-full-view *ngIf="fullViewer" 
						[workout]="workout" 
						[exerciseId]="viewerExerciseId" 
						[phaseId]="viewerPhaseId"
						(onCloseViewer)="closeViewer()">
</app-exercise-full-view>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>