<a routerLink="/workout-add" mat-flat-button color="primary" class="mb-2">Add New Workout</a>
<div class="card" *ngFor="let workout of workouts$ | async" style="width: 18rem;">
	<div class="card-header d-flex justify-content-between">
	  <span>Workout</span>
	  <a [routerLink]="['/workout-edit', workout.id]" mat-flat-button color="primary">Edit</a>
	</div>
	<div class="card-body">
	  <h5 class="card-title">{{ workout.name }}</h5>
	  <p class="card-text">{{ workout.description }}</p>
	  <a [routerLink]="['/workout', workout.id]" mat-flat-button color="primary">View Details</a>
	</div>
</div>