<ng-container *ngIf="workouts$ | async as workouts; else loader">
	<a appFadeIn routerLink="/workout-add" mat-flat-button color="primary" class="mb-2">Add New Workout</a>
	<div appFadeIn class="row justify-content-center">
		<div *ngFor="let workout of workouts" class="col-md-4">
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
				  <h2 class="mb-0">{{ workout.name }}</h2>
				  <a [routerLink]="['/workout-edit', workout.id]" mat-flat-button color="primary">Edit</a>
				</div>
				<div class="card-body">
				  <p class="card-text">{{ workout.description }}</p>
				  <a [routerLink]="['/workout', workout.id]" mat-flat-button color="primary">Open</a>
				  <button type="button" mat-flat-button color="warn" class="ms-2" (click)="deleteWorkout(workout.id!)">Delete</button>
				</div>
			</div>
		</div>
		<div *ngIf="workouts.length === 0">
			<p>No workouts found.</p>
		</div>
	</div>
</ng-container>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>